<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center text-dark mt-5">Welcome to Chat Hub</h2>
            <div class="text-center text-dark">Please join the room to start chating</div>
                <div class=".card my-5">
                    <form [formGroup]="joinRoomForm" class="card-body cardbody-color p-lg-5">
                        <div class="text-center mb-5">
                            <img src="https://cdn.pixabay.com/photo/2023/07/24/23/30/chat-8147986_1280.jpg" width="200px">
                        </div>
                        <div class="mb-3">
                            <input formControlName="user" type="text" class="form-control" id="dispalyname" placeholder="Display Name" />
                        </div>
                        <div class="mb-3">
                            <input formControlName="room" type="text" class="form-control" id="roomname" placeholder="Room Name" />
                        </div>
                        <div class="text-center">
                            <button [disabled]="joinRoomForm.invalid" (click)="joinRoom()" type="submit" class="btn btn-primary px-5 mb-5 w-100">
                                Join
                            </button>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>